.div_um_style{
    width: 100%;
    height: 50px;
    background-color: red;
}

.div_dois_style{
    height: 400px;
    background-color: blue;
}

.div_tres_style{
    height: 50px;
    background-color: red;
}

.div_quatro_style{
    height: 50px;
    background-color: aqua;
}